*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header{
    background-color: black;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 150px;
}

.logo img:hover {
    transition: all 0.4s ease-in-out;
    width: 160px;
    margin-right: 20px;
}

.logo img:not(hover) {
    transition: all 0.4s ease-in-out;
}

#sobre{
    border-bottom: 2px solid white;
}

nav ul{
    padding: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav li{
    margin-left: 30px;
    margin-right: 30px;
}

nav li a{
    color: white;
    text-decoration: none;
    font-family: "Poppins"
}

nav li a:hover{
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.285);
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}

nav li a:not(:hover){
    transition: all 0.4s ease-in-out;
}

section {
    display: flex;
    align-items: center; 
    border: solid 3px black;
    font-size: 20px;
    height: 100vh;
}
#s1{
    height: 72vh;
}
#s2{
    height: 75vh;
}
#s2 .corpo{
    margin-top: 100px;
}
#s3 {
    height: 80vh;
}
#s4{
    height: 80vh;
}
.corpo {
    padding: 50px;
}

.corpo img {
    display: block; 
}
#s3 .corpo {
    margin-left: 22px;
}
.corpo p {
    text-align: left; 
    margin-right: 50px; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;  
}
main ul{
    list-style-type: none;
}
main li{
    margin-bottom: 15px;
    margin-top: 15px;
}
h2 {
    font-weight: 700;
    text-align: left;
    margin-top: -80px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 40px;
    position: relative; 
}
#h2qm {
    font-weight: 700;
    text-align: left;
    margin-top: -30px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 40px;
    
}

#h2valores {
    font-weight: 700;
    text-align: left;
    margin-top: -20px;
    padding-left: 0px;
    font-size: 40px;
}

#h2futuro {
    font-weight: 700;
    text-align: left;
    margin-top: -50px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 40px;
}

#visao{
    margin-top: -18px;
}

#visao p {
    margin-top: 12px;
}

#semaforo {
    width: 380px;
    height: 250px;
    margin-top: 10px;
    display: block;
    margin-left: 5%;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.5); /* Adiciona sombra preta */
    border-radius: 10px; /* Arredonda as bordas */
}

#alvo {
    width: 200px;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 25%;

}

#olho {
    width: 200px;
    margin-top: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 25%;
}

footer {
    position: relative;
    background-color: black;
    color: white;
    padding: 40px 0;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p, footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #7f8c8d;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;
}