* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:black;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 150px;
}

.logo img:hover {
    transition: all 0.4s ease-in-out;
    width: 160px;
    margin-right: 20px;
}

.logo img:not(hover) {
    transition: all 0.4s ease-in-out;
}

ul {
    padding: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li {
    margin-left: 30px;
    margin-right: 30px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: "Poppins";
}

li a:hover {
    padding: 5px; 
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.285);
    transition: all 0.2s ease-in-out;
}

li a:not(:hover) {
    transition: all 0.2s ease-in-out;
}

#home{
    border-bottom: 2px solid white;
}

#home1 {
    padding-top: 100px;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home1 video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(10px) brightness(50%);
}

#video-titulo-imagem {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}

#video-titulo-imagem h1 {
    position: sticky;
    font-size: 180px;
    text-align: center;
    font-family: "Poppins";
    color: white;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#titulo h1 {
    color: white;
    font-family: "Poppins";
    font-size: 180px;
    text-align: center;
    margin: 0;
}

.animar:hover,
#titulo:hover {
    text-shadow: 8px 8px 0 white;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
}

#titulo .animar:not(hover) {
    transition: all 0.5s ease-in-out;
}

#titulo:hover #T {
    font-size: 195px;
    color: red;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
}

#titulo:hover #D {
    font-size: 195px;
    color: yellow;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
}

#titulo:hover #A {
    font-size: 195px;
    color: green;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
}

#video-titulo-imagem h2 {
    position: sticky;
    font-size: 40px;
    text-align: center;
    font-family: "Poppins";
    color: white;
}

#video-titulo-imagem h2:hover {
    font-size: 45px;
    text-shadow: 3px 3px 0 black;
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}

#video-titulo-imagem h2:not(:hover) {
    transition: all 0.4s ease-in-out;
}

#video-titulo-imagem a {
    margin-top: 35px;
    position: sticky;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Poppins";
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: solid 3px white;
    border-radius: 40px;
}

#video-titulo-imagem a:hover {
    font-size: 35px;
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
    background-color: rgb(0, 95, 0);
    box-shadow: 0 0 35px rgb(0, 255, 0);
    text-shadow: 1 0 10px white;
}

#video-titulo-imagem a:not(hover) {
    transition: all 0.4s ease-in-out;
}

#home2 {
    position: sticky;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.850);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home2 h1{
    margin-bottom: 20px;
    font-family: "Poppins";
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 20px black ;
}

#home2 h1:hover{
    font-size: 60px;
    transition: all 0.4s ease-in-out;
    transition: all 0.2s ease-in;
}

#home2 h1:not(hover){
    transition: all 0.4s ease-in-out;
}

#home2 video{
    border-radius: 20px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 90px;
    bottom: 0;
    padding: 25px;
}

footer a {
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Poppins";
}

footer a:hover {
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.285);
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}

footer a:not(:hover) {
    transition: all 0.4s ease-in-out;
}