
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background:white;
    color: #333;
    line-height: 1.6;
}
header{
    background-color:  #00796b;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 150px;
}

.logo img:hover {
    transition: all 0.4s ease-in-out;
    width: 160px;
    margin-right: 20px;
}

.logo img:not(hover) {
    transition: all 0.4s ease-in-out;
}

#sobre{
    border-bottom: 2px solid white;
}

nav ul{
    padding: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav li{
    margin-left: 30px;
    margin-right: 30px;
}

nav li a{
    color: white;
    text-decoration: none;
    font-family: "Poppins"
}

nav li a:hover{
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.285);
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}

nav li a:not(:hover){
    transition: all 0.4s ease-in-out;
}
#produto1{
    border-bottom: 2px solid white;
}
main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.508);
    border-radius: 8px;
}
#inicio {
    text-align: center;
    margin-bottom: 40px;
}

#inicio h1 {
    margin-top: 45px;
    font-size: 85px;
    color:  #00796b;
}

#inicio h2 {
    color: #000000;
}

#dois {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #fff;
}

#dois .corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #10d641;  
}

.text-content {
    max-width: 60%;
}

.text-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00796b;
}

.text-content p {
    font-size: 18px;
    color: #666;
}

.image-content {
    max-width: 35%;
}

#logo {
    max-width: 100%;
    height: auto;
    border-radius: 10px solid green;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#func {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    border: 2px solid #10d641;
    box-shadow: 0 0 10px rgba(11, 78, 5, 0.1);
    border-radius: 8px;
    width: 1120px;
    margin-left: 20px;

}

#fig {
    flex: 1;
    text-align: center;
    margin: 20px;
}

#foto {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.386);
    margin-top: 45px;
    transition: all 0.5s ease-in-out;
}

#foto:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px black;
    transform: translateY(-15px);
}

#funcionalidades {
    flex: 2;
    margin: 20px;
    font-size: 19px;
}

#final h3 {
    color:  #00796b;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
}

#final ul {
    list-style-type: disc;
    padding-left: 20px;
}

#final li {
    margin-bottom: 10px;
}
#produto {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

#caixas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caixa:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px #14792d;
    transform: translateY(-15px);
}

.caixa {
    background-color: #f9f9f9;
    border: 2px solid #10d641;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 45%;
    box-shadow: 0 0 10px rgba(11, 78, 5, 0.1);
    transition: all 0.5s ease-in-out;
}
#caixa1{
    margin-right: 50px;
}

.caixa h4 {
    margin-bottom: 10px;
    color:  #00796b;
    font-size: 20px;
}

.caixa p {
    line-height: 1.6;
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#left-side, #right-side {
    flex: 1;
    margin: 10px;
}

#left-side figure {
    text-align: center;
}

#left-side img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#right-side h1 {
    color: #000000;
    margin-bottom: 10px;
}

#right-side h2 {
    color:  green;
    margin-bottom: 10px;
}

#right-side h5 {
    color: #555;
    margin-bottom: 20px;
}

#right-side a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #066e20;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#right-side a:hover {
    background-color: #35b615;
}

#home2 {
    position: sticky;
    height: 95vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home2 h1{
    margin-bottom: 20px;
    font-family: "Poppins";
    font-size: 55px;
    text-shadow: 0 1px 1px black;
    color: #00796b;
    cursor:default;
}

#home2 h1:hover{
    font-size: 60px;
    transition: all 0.4s ease-in-out;
    transition: all 0.2s ease-in;
}

#home2 h1:not(hover){
    transition: all 0.4s ease-in-out;
}

#home2 video{
    border-radius: 20px;
}

footer {
    position: relative;
    background-color: #00796b;
    color: white;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p, footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;
}
